body{
    font-family: "Poppins", sans-serif;
    cursor: none;
    height: 100%;
    /*background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRUtFO5JO3B2eNoVrdI_nQJxL93U8wkbOmY1kSzNhHJmEW3lGPg);*/
    }

.name{
    padding-left: 20rem;
    font-family: 'Righteous', cursive;
    z-index: -10;
}
.boxes {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-left: 320px;

    }
.cbox {
    border: 1px solid black;
    width: 90px;
    z-index: -2;
    background: linear-gradient(to right, #1488cc, #2b32b2);
}

.designation h3
{
    color: white;
}
.designation{
    border:1px solid black;
    width:200px;
    border-radius: 20px;
    margin-left: 330px;
    font-family: cursive;
    position: relative;
    z-index: -2;
    background: linear-gradient(to right, #9d50bb, #6e48aa); 
}


section h3{
    margin-bottom: 0px;
    padding-left: 20rem;
}

section ul {
    padding-left: 20rem;
}

section p{
    margin-left: 315px;
}

h3{
    font-family: 'Righteous', cursive;
}

hr {
    width: 57%;
}


h3,p{
    padding-left: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height:10vh;
    align-items: center;
    margin: auto;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}


.nav-links, li{
    padding: 0.5rem;
}
.nav-links, h1{
    flex: 1;
}

section i {
    padding-left: 20rem;
}
.fa{
    size: 50px;
}

.cursor{

    width : 3rem;
    height: 3rem;
    border: 2px solid black;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.2s ease;
    transition-property: background , transform;
    transform-origin: 100% 100%;
    z-index: -1;   
}

.link-grow{
    transform: scale(2);
    background: black;
}

.hovered-link{
    color: white;
}

li a{
    color: inherit;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}

